 I have taken a wine.csv dataset from uci repository which is used for the prediction, i have just used this dataset to show how can i determine duplicate values and treat them.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("wine.csv")
df.head()

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [8]:
df.shape

(178, 14)

# Finding the Duplicate Values:

First of all we need to check the duplicates, the command df.duplicated() will check the whether, all the columns of any row have same data as compared to other rows.

In [4]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
173    False
174    False
175    False
176    False
177    False
Length: 178, dtype: bool

The above output O indicates there are no rows that have similar data as compared to any other rows in terms of comparison of each and eery column in that particular row.

In [5]:
df.duplicated().sum()

0

Now we can also specify the number of duplicates in a particular feature in a dataset, this is highly used incase we have unique identifications like unique id , key,etc

Here we are using Alcohol and Malic Acid simultaneously to determine the duplicate data in each features.

In [12]:
df.Alcohol.duplicated().sum()

52

In [13]:
df.duplicated('Malic_Acid').sum()

45

From Above we can see there are 52 duplicate values in Alcohol featureset and 45 duplicate values in Malic Acid..!!

# Removing Duplicate Values:

To drop duplicate values considering particular feature :

In [19]:
df.drop_duplicates('Alcohol',inplace=True)

In [20]:
df.duplicated('Alcohol').sum()

0

In [21]:
df.shape

(126, 14)

So you can see that the shape of dataset changes from (178,14) to (126,14).i.e 52 rows in the dataset having Alcohol features as duplicates are completely removed from the dataset.

This dataset is just taken as an example to show how we can find out duplicate values from the dataset and remove them,both case Firstly removing duplicates considering the whole dataset and secondly considering the particular feature set.